html {
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: 'YourPreferredFont', sans-serif;
}

.App {
  text-align: center;
  min-height: 100vh;
  background-color: #dbf2ff;
}
.container {
  display: flex;
  max-width: 100%;
  /* For responsive */
  flex-direction: column;
}

.cardArea {
  max-width: 350px;
  margin: 30px;
}

/* Resize the image */
.content img{
  width: 100%;
}

.contentsArea {
  text-align: left;
  flex: 1;
  /* For responsive */
  margin: 30px;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}